* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --shadow: rgba(0, 0, 0, 0.1);
    --background: #eeeeee;
}

/* #region fonts */

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.mono{
    font-family: "Mono", monospace;
}

/*#endregion fonts*/

/* #region basicText */
h1{
    font-size: 5em;
}

h2.subtitle{
    font-size: 1.6em;
    margin: 0 0 0 0;
}

h2{
    margin: 3vh 0 1vh 0;
    font-size: 1.5vw;
    line-height: 2.5vw;
}

h3{
    font-size: 1vw;
    line-height: 2vw;
}

p, li{
    font-size: 1vw;
    line-height: 1.5vw;
    list-style: none;
}

a{
    color: rgb(78, 170, 158);
}

a:hover{
    opacity: 0.8;
}
/*#endregion basicText*/

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

	background: white;
	background-image: radial-gradient(rgb(218, 218, 218) 1px, transparent 0);
	background-size: 40px 40px;
	background-position: -19px -19px;

}

/* #region projects */

.projects-list{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 5em;
    justify-items: stretch;
    align-items: stretch;
    margin: 5em 0 5em 0;
    overflow-y: visible;
    overflow-x: visible;
}

.mini_card {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #ffffff;
    /* border-radius: 2vh; */
    box-shadow: 0 0 2vw var(--shadow);

    transition: all 0.3s ease;
}

.mini_card:hover {
    scale: 1.05;
    box-shadow: 0 0 4vw var(--shadow);

    transition: all 0.3s ease;
}

.mini_card .image {
    width: 100%;
    height: 25vh;
    margin: 0 0 0 0;
}

.mini_card .image img {
    /* border-radius: 2vh 2vh 0 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mini_card .info {
    text-align: left;
}

.mini_card .data {
    font-size: 0.8vw;
    margin-top: 1vh;
}

.mini_card h2, .mini_card p{
    margin: 0 0 0 0.5vw;
    line-height: normal;
}

.mini_card h2{
    font-size: 1.5em;
    padding: 0 0 1vh 0;
}

/* #endregion */

/* #region nav */
nav{
    position: fixed;
    top: 2em;
    left: 2em;
}

nav ul{
    margin: 0 2em 0 0;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;

    transition: all 0.3s ease;
}

nav ul li a:hover{
    opacity: 0.5;
    text-decoration: underline;

    transition: all 0.3s ease;
}

nav .selected{
    font-weight: bold;
}
/* #endregion */

/* #region header */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    top: 0;
}

div.profilePic{
    background-image: url("./images/About/1.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
}

.behindPic{
    background-image: url("./images/Picture1.png");
    background-size: cover;
    width: 38.197vw;
    height: 180%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2em;
}

.header-content h1, .header-content h2{
    text-align: right;
}

.header-content .personal-info{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 1em;
}

.header-content .personal-info ul{
    text-align: right;
    justify-content: flex-start;
}

.header-content .personal-info ul li{
    text-align: right;
}

/* #endregion header */

/* #region about */
.about-content{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 3em 0 0 0;
}

.about-content p{
    text-align: justify;
}

.header-content h1{
    margin: -20px 0 0 0;
}

.about-content p{
    width: 24vw;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
}

.collage{
    width: 25em;
}
/* #endregion about */

main{
    width: 77vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

/* #region mainproject */

main .mainBox {
    width: 50%;
    padding: 1vh 0 2vh 0;
    /* border-radius: 2vh; */
    box-shadow: 0 0 20px var(--shadow);
    background-color: #ffffff;
    margin: 1em 0 1em 0;
}

main .mainBox .imageCarousel{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: fit-content;
    overflow-x: auto;
    overflow-y: visible; 
    padding: 0 1vw 0 1vw;
}

main .mainBox .imageCarousel img{
    height: 16vw;
    margin: 1vh 1vw 1vh 0;
    /* border-radius: 1vh; */
    box-shadow: 0 0 10px var(--shadow);

    transition: all 0.3s ease;
}

main .mainBox .imageCarousel img:hover{
    scale: 1.05;
    box-shadow: 0 0 20px var(--shadow);

    transition: all 0.3s ease;
}

main .mainBox .title, main .mainBox .content, main .mainBox .description{
    padding: 0 16px 0 16px;
}

main .mainBox .content p{
    margin: 1vh 0 1vh 0;
}

main .mainBox .content .techStack {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    margin: 1em 0 0 0;
}

main .mainBox .content .techStack img{
    height: 4em;
    width: 4em;
    border-radius: 100%;
    object-fit: cover;
}

main .mainBox .content img{
    max-width: 100%;
    /* border-radius: 1vh; */
}

/* #endregion */

/* #region big-image */

.big-image{
    max-height: 80vh;
    max-width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 10px; */
}

.blurred {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* #endregion */

/* .horizontalList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 2vw;
}

.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vh 0 2vh 0;
}

.experience h3, .experience p{
    margin: 0 0 0 0;
} */

/* #region footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin-top: 5em;
}

footer .footer-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

footer .footer-content div ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
/* #endregion */

@media (max-width: 768px) {
    h1{
        font-size: 4vh;
        line-height: 6vh;
    }
    
    h2{
        font-size: 3vh;
        line-height: 5vh;
    }
    
    h3{
        font-size: 2vh;
        line-height: 4vh;
    }
    
    p, li{
        font-size: 2vh;
        line-height: 3vh;
    }

    body {
        flex-direction: column;
        overflow-y: auto;
        height: fit-content;
    }

    /* #region nav */
    nav{
        display: flex;
        position: absolute;
        top: 2em;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        left: 5vw;
    }

    nav::after{
        content: "Jeroen Roelant";
        width: 30vw;
        text-align: right;
        font-size: 1.5em;
        font-weight: light;
        
        z-index: -1;
    }

    /* #endregion */
    
    /* #region header */
    header{
        height: 80vh;
    }

    div.profilePic{
        width: 80vw;
        height: 28vh;
        order: 1;
    }

    .behindPic {
        background-attachment: fixed;
        width: 100vw;
        height: 48vh;
        margin-top: 20vh;
        filter: brightness(70%);
    }

    .header-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .header-content h1{
        display: none;
        color: #eeeeee;
    }

    .header-content h1, .header-content h2{
        text-align: center;
        color: #eeeeee;
    }

    .header-content .personal-info{
        color: #eeeeee;
        justify-content: center;
        align-items: center;
        order: 2;
    }

    .header-content .personal-info h2.subtitle{
        font-size: 1.1em;
        order: 2;
        margin: -1em 0 0 0;
    }

    .header-content .personal-info ul{
        text-align: center;
        justify-content: center;
        order: 3;
    }

    .header-content .personal-info ul li{
        text-align: left;
        font-size: small;
    }
    /* #endregion */

    /* #region about */
    .about{
        margin: -3em 0 0 0;
    }
    .about-content p{
        width: 90vw;
        gap: 0.8em;
    }

    img.collage{
        display: none;
    }

    /* #endregion */

    /* #region projects */

    .projects-list{
        width: 100vw;
        grid-template-columns: 90vw;
        grid-row-gap: 2em;

        justify-items: stretch;
        align-items: stretch;
        margin: 8em 0 0 10vw;
    }

    /* #endregion */

    /* #region project */
    main {
        width: 100%;
        overflow-y: hidden;
        overflow-x:auto;
    }
    
    main .mainBox {
        width: 96%;
        margin: 8em 2vw 0 2vw;
    }
    
    main .mainBox .imageCarousel img {
        height: 20vh;
        margin: 1vh 2vw 1vh 2vw;
    }
    main .mainBox .imageCarousel img:hover {
        scale:1;
    }

    /* #endregion */
    
    /* #region footer */

    footer{
        height: 20vh;
    }

    footer .footer-content{
        flex-direction: column;
        gap: 1em;
    }

    footer .footer-content div ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* #endregion */

    /* #region bigImage */
    .big-image {
        max-height: 60vh;
        max-width: 90vw;
    }

    .blurred{
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
    }
    /* #endregion */
}